
<div id="eventContainer" class="events-wrap">
{{#each events}}
	<div class="event" style="top: {{top}}; left: {{left}}; width: {{width}}; height: {{height}}">
		<div class="event-bar"></div>
		<div class="event-title">{{title}}</div>
		<div class="event-location">{{location}}</div>
	</div>
{{/each}}
</div>
